.visitedButn{
   
    background-color: rgb(210, 63, 63);
    color: aliceblue;
    font-weight: 800;
}

.green{
    background-color: green;
    
}

.backAqua{
    background-color: aquamarine;
    border-radius: 15px;
    color: black;
    
   
}

.img{
    width: 250px;
    height: 150px;
}